* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* All button stlte */

.btn-primary {

    background-color: hsl(2, 93%, 54%);
    color: #EDEAF4;
    border: none;
    height: 60px;
    font-size: 25px;
    padding: 0px 20px;
    margin-top: 30px;

}


/* banner section style */

.bg-banner {
    background-image: url('../images/banner/banner2.png');
    background-size: 100%;
    height: 900px;
    background-repeat: no-repeat;

}

.banner-section {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 300px;
    padding-top: 200px;

}

.banner-title {

    font-size: 65px;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner-description {

    font-size: 20px;
    line-height: 26px;
}


/* My failures of
previous year */

.person {

    display: flex;
}

.woman {
    margin-left: 300px;
    margin-top: 300px;
}

.title {
    margin-left: 100px;
    margin-top: 550px;
    align-items: center;
}

.persion-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.person-description {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;

}

.list-title {
    display: flex;
    flex-direction: column;
}

.woman-list {
    font-size: 18px;
    margin-left: 60px;
}


/* My plan style */

.my-plan {

    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 200px;

}

/* skill-section */
.skill-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.skill {
    padding: 80px;
}

.logo-icon {
    padding-left: 20px;
}

.skill-description {
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.want {
    padding-left: 14px;
    margin-top: 25px;
}





/* adds-banner */
.adds-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 100px;

}
.footer-top-banner{
    margin-top: 130px;
    height: 300px;
    width: 90%;
    background-size:90%;
    background-image: url("../images/watch.png"),linear-gradient(to right, rgba(0,93,168,1), rgba(28, 38, 47, 0.3));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    text-align: left;  
    margin-left: 180px ;

}
.footer-top-banner-content{
    padding-top: 60px;
    padding-left:64px;
    width: 50%;

}
.footer-top-banner-content h3{
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom:15px;
   
}


/* fotter-section */

.fotter-bg {
    background: #151414;
    height: 570px;
    width: 100%;
}


.fotter-section {
    display: flex;
    align-items: center;
    padding-left: 200px;
    margin-top: 100px;
}

.future {
    margin-top: 200px;
}

.future-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 30px;

}

.future-description {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 20px;
}

h6 {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.subscribe {
    padding-left: 600px;
    margin-top: 100px;
}

.subscribe-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 30px;

}

.your-email {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    background: #151414;
}

.submit {
    position: absolute;
    font-size: 20px;
    width: 170.11px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;
}

.social-icon{
    display: flex;
    gap: 20px;
    padding:10px 0px;
    margin:20px;
}


/* fotter menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    margin-left: 130px;
  }
  
  li a {
    display: flex;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    margin-left: 50px;
    text-decoration: none;

  }